body{

font-family: Arial;
background: linear-gradient(135deg,#4e54c8,#8f94fb);
margin:0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:white;
padding:40px;
border-radius:12px;
width:650px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);

}

h1{

text-align:center;

}

.card{

margin-bottom:25px;

}

input{

width:100%;
padding:10px;
margin:8px 0;
border-radius:6px;
border:1px solid #ccc;

}

button{

width:100%;
padding:10px;
background:#3498db;
border:none;
color:white;
border-radius:6px;
cursor:pointer;

}

table{

width:100%;
border-collapse:collapse;
margin-top:15px;

}

th,td{

border:1px solid #ddd;
padding:10px;
text-align:center;

}

th{

background:#3498db;
color:white;

}